# Cathrine's files
Partions/*

# Theresa's files 
__pycache__/*
gifs/* 
models/*
tmp/* 
Functions/__pycache__/* 
paths/*
Dijkstras.ipynb

# other files 
runs/* 
sh-files/*
mess.ipynb
Cmarl/src/__pycache__/*
Cmarl/.github/*
Tensorboard/*
Cmarl/src/data/images/*
Functions/__pycache__/*
Data_good/*
Data_crop/*
Data_good_Scaled/*