# Cathrine's files
Partions/*
/pycache/*
Data/openNeuro/*


# Theresa's files 
__pycache__/*
gifs/* 
models/*
tmp/* 
Functions/__pycache__/* 
Dijkstras.ipynb

# other files 
runs/* 
sh-files/*
mess.ipynb
Cmarl/src/__pycache__/*
Cmarl/.github/*
Tensorboard/*
Cmarl/src/data/images/openNeuro_normalized/*
Functions/__pycache__/*
Data_good/*
Data_crop/*
