# Cathrine's files
Illustration/*


# Theresa's files 
__pycache__/*
temp/*

# other files 
bachelor-env/*
Data_cropped/*
mess.ipynb
Cmarl/src/__pycache__/*
Cmar/src/batchjob.sh
Cmarl/src/create_env.sh
Cmarl/.github/*
Cmarl/doc/*
Cmarl/src/data/*
Cmarl/src/logs/*
Cmarl/src/out/*
Cmarl/src/bachelor-env/*
Cmarl/src/runs/*
