torch
numpy
SimpleITK
typing_extensions
scipy
color-dtu-design
matplotlib
setuptools
gym
pillow
tensorboard 
tqdm 
opencv-python 
pyglet 


# if ModuleNotFoundError: No module named 'pkg_resources' ---> python -m pip install setuptools