torch
numpy
SimpleITK
typing_extensions
scipy
color-dtu-design
matplotlib
gym
pillow
tensorboard 
tqdm 
opencv-python 
pyglet 
setuptools==59.5.0


# if ModuleNotFoundError: No module named 'pkg_resources' ---> python -m pip install setuptools